# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.SimpleGameFramework.iml
# Datasource local storage ignored files
/../../../../../../../:\Resource\WorkSpace_Unity\SimpleGameFramework\.idea\.idea.SimpleGameFramework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
